h1{
    color:aquamarine;
    font-family:Arial;
    font-size: 60px;
    text-align:center;
}
pre{
    color:darkblue;
    font-family:Arial;
    font-size:20px;
    text-align:left;
}
img{
    display:grid;
    width:50%;
    height:50%;
    place-items:center;
    
}
